/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body{
    line-height: 1;
}

ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
}
html, body{
    height: 100%;
}
.content{
    overflow: hidden;
    height:100%;
    width: 100%;
    position: relative;
}
.sky{
    height: 550px;
    text-align: right;
    background: rgba(0, 0, 255, 0.2);
    position: relative;
}
.sky:before{
    content: '';
    height: 500px;
    width: 100%;
    position: absolute;
    background: rgba(0, 0, 255, 0.2);
    top: 550px;
    left: 0;
}
.sun{
    box-shadow: 1px 1px 50px #fafa00;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    background: -webkit-radial-gradient(rgb(250, 255, 0), rgba(250, 255, 0, 0.01));
    display: inline-block;
    margin: 220px 350px;
    animation: sun 20s linear;
    text-align: center;
}
@keyframes sun {
    0%{transform: translatex(0) translatey(0)}
    10%{transform: translatex(-200px) translatey(-10px) rotate(0)}
    20%{transform: translatex(-400px) translatey(-20px) rotate(10deg)}
    30%{transform: translatex(-600px) translatey(-30px) rotate(20deg)}
    40%{transform: translatex(-800px) translatey(-40px) rotate(30deg)}
    50%{transform: translatex(-1000px) translatey(-50px) rotate(40deg)}
    60%{transform: translatex(-1200px) translatey(-60px) rotate(50deg)}
    70%{transform: translatex(-1400px) translatey(-70px) rotate(60deg)}
    80%{transform: translatex(-1600px) translatey(-80px) rotate(70deg)}
    90%{transform: translatex(-1800px) translatey(-90px) rotate(80deg)}
    100%{transform: translatex(-2000px) translatey(-100px) rotate(90deg)}
}
.sun div{
    height: 400px;
    width: 10px;
    background: -webkit-linear-gradient(rgb(250, 255, 0), rgba(250, 255, 0, 0.01));
    display: inline-block;
    border-radius: 5px;
    transform: translateY(330px) translatex(90px);
}
.sun div+div{
    transform: translateY(315px) translatex(210px) rotate(-20deg);
}
.sun div+div+div{
    transform: translateY(250px) translatex(335px) rotate(-40deg);
}
.sun div+div+div+div{
    transform: translateY(60px) translatex(430px) rotate(-80deg);
}
.sun div+div+div+div+div{
    transform: translateY(-70px) translatex(435px) rotate(-100deg);
}
.sun div+div+div+div+div+div{
    transform: translateY(-205px) translatex(400px) rotate(-120deg);
}
.sun div+div+div+div+div+div+div{
    transform: translateY(-345px) translatex(295px) rotate(-140deg);
}
.sun div+div+div+div+div+div+div+div{transform: translateY(-455px) translatex(140px) rotate(-160deg)}
.sun div+div+div+div+div+div+div+div+div{transform: translateY(-440px) translatex(0px) rotate(-180deg);}
.sun div+div+div+div+div+div+div+div+div+div{    transform: translateY(-430px) translatex(-140px) rotate(-200deg);}
.sun div+div+div+div+div+div+div+div+div+div+div{    transform: translateY(-370px) translatex(-295px) rotate(-220deg);}
.sun div+div+div+div+div+div+div+div+div+div+div+div{    transform: translateY(-255px) translatex(-395px) rotate(-240deg);}
.sun div+div+div+div+div+div+div+div+div+div+div+div+div{transform: translateY(-100px) translatex(-440px) rotate(-260deg);}
.sun div+div+div+div+div+div+div+div+div+div+div+div+div+div{transform: translateY(60px) translatex(-440px) rotate(-280deg);}
.sun div+div+div+div+div+div+div+div+div+div+div+div+div+div+div{    transform: translateY(200px) translatex(-390px) rotate(-300deg);}
.sun div+div+div+div+div+div+div+div+div+div+div+div+div+div+div+div{transform: translateY(280px) translatex(-300px) rotate(-320deg);}
.sun div+div+div+div+div+div+div+div+div+div+div+div+div+div+div+div+div{transform: translateY(330px) translatex(-195px) rotate(-340deg);}

div{
    margin: 0 auto;
}

.flag{
    border: 20px #000 solid;
    border-right: 20px transparent solid;
    height: 0;
    width: 80px;
    transform-origin: left;
    transform: rotatey(-180deg) translate(-16px);
    animation: flag 20s linear;
}

@keyframes flag {
    0%{transform: rotatey(-130deg) rotatex(5deg) translate(-16px)}
    10%{transform: rotatey(-180deg) rotatex(0) translate(-16px)}
    20%{transform: rotatey(-130deg) rotatex(-5deg) translate(-16px)}
    30%{transform: rotatey(-180deg) rotatex(0) translate(-16px)}
    40%{transform: rotatey(-130deg) rotatex(5deg) translate(-16px)}
    50%{transform: rotatey(-180deg) rotatex(0) translate(-16px)}
    60%{transform: rotatey(-130deg) rotatex(-5deg) translate(-16px)}
    70%{transform: rotatey(-180deg) rotatex(0) translate(-16px)}
    80%{transform: rotatey(-130deg) rotatex(5deg) translate(-16px)}
    90%{transform: rotatey(-180deg) rotatex(0) translate(-16px)}
    100%{transform: rotatey(-130deg) rotatex(-5deg) translate(-16px)}
}

.sail{
    height: 800px;
    width: 20px;
    transform: translate(-50px);
    background: -webkit-linear-gradient(0deg,#383838 0%,#795548 10%,#383838 100%);
}

.sail div+div{
    border-radius: 50%;
}

.lsail{
    height: 590px;
    width: 590px;
    transform: rotate(-45deg) translatex(-275px) translatey(-150px);
    background: -webkit-radial-gradient(right bottom, rgba(0, 0, 0, 0) 60%,rgba(255,255,255,0.5) 80%);
}

.sailroval{
    height: 150px;
    width: 500px;
    border-right: 200px rgba(255,255,255,0.3) solid;
    transform: scaley(4) translateY(-50px) translatex(-330px) rotate(-7deg);
    animation: sailrova 20s linear;
}

@keyframes sailrova{
    0%{transform: scaley(4) translateY(-50px) translatex(-330px) rotate(-7deg);}
    10%{transform: scaley(4) translateY(-50px) translatex(-330px) rotate(0);}
    20%{transform: scaley(4) translateY(-50px) translatex(-330px) rotate(3deg);}
    30%{transform: scaley(4) translateY(-50px) translatex(-330px) rotate(0);}
    40%{transform: scaley(4) translateY(-50px) translatex(-330px) rotate(-7deg);}
    50%{transform: scaley(4) translateY(-50px) translatex(-330px) rotate(0);}
    60%{transform: scaley(4) translateY(-50px) translatex(-330px) rotate(3deg);}
    70%{transform: scaley(4) translateY(-50px) translatex(-330px) rotate(0);}
    80%{transform: scaley(4) translateY(-50px) translatex(-330px) rotate(-7deg);}
    90%{transform: scaley(4) translateY(-50px) translatex(-330px) rotate(0);}
    100%{transform: scaley(4) translateY(-50px) translatex(-330px) rotate(3deg);}
}


.sailr{
    height: 30px;
    width: 30px;
    background: -webkit-radial-gradient(left,rgba(0, 0, 0, 0) 75%,rgba(114,206,247,0.5) 75%);
    border-right: 30px rgba(255,255,255,0.5) solid;
    transform: translatey(-680px) translatex(5px) scaley(4) rotate(-9deg);
    animation: sailr 20s linear;
}

@keyframes sailr {
    0%{transform: translatey(-680px) translatex(5px) scaley(4) rotate(-9deg);}
    10%{transform: translatey(-680px) translatex(5px) scaley(4) rotate(0deg);}
    20%{transform: translatey(-680px) translatex(5px) scaley(4) rotate(4deg);}
    30%{transform: translatey(-680px) translatex(5px) scaley(4) rotate(0deg);}
    40%{transform: translatey(-680px) translatex(5px) scaley(4) rotate(-9deg);}
    50%{transform: translatey(-680px) translatex(5px) scaley(4) rotate(0deg);}
    60%{transform: translatey(-680px) translatex(5px) scaley(4) rotate(4deg);}
    70%{transform: translatey(-680px) translatex(5px) scaley(4) rotate(0deg);}
    80%{transform: translatey(-680px) translatex(5px) scaley(4) rotate(-9deg);}
    90%{transform: translatey(-680px) translatex(5px) scaley(4) rotate(0deg);}
    100%{transform: translatey(-680px) translatex(5px) scaley(4) rotate(4deg);}
}

.contentsailfish{
    width: 800px;
    height: 200px;
    background: -webkit-linear-gradient(top,#383838 0%,#795548 20%,#383838 20%,#795548 40%,#383838 40%,#795548 60%,#383838 60%,#795548 80%,#383838 80%,#795548 100%);
}
.contentsailfish div{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 15px #9E9E9E solid;
    background: #d5da00;
    display: inline-block;
    margin: 40px;
    transform: translatey(-170px);
    box-sizing: border-box;
    animation: lightening 20s linear;
}

@keyframes lightening{
    0%{background: #d5da00}
    10%{background: #f0f500}
    20%{background: #faff00
    }
    30%{background: #eaef00
    }
    40%{background: #bbc000
    }
    50%{background: #8c9100
    }
    60%{background: #6d7200
    }
    70%{background: #525600
    }
    80%{background: #d5da00
    }
    90%{background: #eef300
    }
    100%{background: #faff00
    }
}

.contentsailfish:before{
    width: 200px;
    height: 175px;
    background: -webkit-linear-gradient(top,#383838 0%,#795548 20%,#383838 20%,#795548 40%,#383838 40%,#795548 60%,#383838 60%,#795548 80%,#383838 80%,#795548 100%);
    content: '';
    display: block;
    transform: rotate(30deg) translateX(-130px) translatey(59px);
    position: relative;
    z-index: -1;
    border-radius: 20px 0 0 20px;
}

.contentsailfish:after {
    margin-top: 32px;
    width: 0;
    transform: rotate(45deg) translatey(-775px) translatex(212px);
    border-top: 200px #65473d solid;
    border-left: 200px transparent solid;
    content: '';
    display: inline-block;
}

.sailfish{    position: relative;
    animation: sailfish 20s linear;
    transform: translatex(-1000px) translatey(0) rotate(0);
    z-index: 1;
}

@keyframes sailfish {
    0%{transform: translatex(-1800px) translatey(0) rotate(5deg);}
    10%{transform: translatex(-1400px) translatey(5px) rotate(0);}
    20%{transform: translatex(-1000px) translatey(0) rotate(-5deg);}
    30%{transform: translatex(-600px) translatey(-5px) rotate(0);}
    40%{transform: translatex(-200px) translatey(-0) rotate(5deg);}
    50%{transform: translatex(0) translatey(5px) rotate(0);}
    60%{transform: translatex(200px) translatey(0) rotate(-5deg);}
    70%{transform: translatex(600px) translatey(-5px) rotate(0);}
    80%{transform: translatex(1000px) translatey(0) rotate(5deg);}
    90%{transform: translatex(1200px) translatey(5px) rotate(0);}
    100%{transform: translatex(1600px) translatey(0) rotate(-5deg);}
}

.water{
    position: relative;
    transform: translateY(-15px);
    height: 600px;
    width: 200%;
    background: -webkit-radial-gradient(right, rgba(0, 0, 255, 0.4) 5%, rgba(114,206,247,0.5) 5%,rgba(0, 0, 255, 0.4) 10%, rgba(114,206,247,0.5) 10%, rgba(0, 0, 255, 0.4) 15%, rgba(114,206,247,0.5) 15%, rgba(0, 0, 255, 0.4) 20%, rgba(114,206,247,0.5) 20%, rgba(0, 0, 255, 0.4) 25%, rgba(114,206,247,0.5) 25%, rgba(0, 0, 255, 0.4) 30%, rgba(114,206,247,0.5) 30%, rgba(0, 0, 255, 0.4) 35%, rgba(114,206,247,0.5) 35%, rgba(0, 0, 255, 0.4) 5%, rgba(114,206,247,0.5) 40%, rgba(0, 0, 255, 0.4) 40%, rgba(114,206,247,0.5) 45%, rgba(0, 0, 255, 0.4) 45%, rgba(114,206,247,0.5) 50%, rgba(0, 0, 255, 0.4) 50%, rgba(114,206,247,0.5) 55%, rgba(0, 0, 255, 0.4) 55%, rgba(114,206,247,0.5) 60%, rgba(0, 0, 255, 0.4) 60%, rgba(114,206,247,0.5) 65%, rgba(0, 0, 255, 0.4) 65%, rgba(114,206,247,0.5) 70%, rgba(0, 0, 255, 0.4) 70%, rgba(114,206,247,0.5) 75%, rgba(0, 0, 255, 0.4) 75%, rgba(114,206,247,0.5) 80%, rgba(0, 0, 255, 0.4) 80%, rgba(114,206,247,0.5) 85%, rgba(0, 0, 255, 0.4) 85%, rgba(114,206,247,0.5) 90%, rgba(0, 0, 255, 0.4) 90%, rgba(114,206,247,0.5) 95%, rgba(0, 0, 255, 0.4) 95%, rgba(114,206,247,0.5));
    animation: water 20s linear;
    z-index: 1;
}

.waterb{
    z-index: -1;
    position: absolute;
    height: 535px;
    top: 1060px;
    width: 200%;
    background: -webkit-radial-gradient(right, rgba(0, 0, 255, 0.4) 5%, rgba(114,206,247,0.5) 5%,rgba(0, 0, 255, 0.4) 10%, rgba(114,206,247,0.5) 10%, rgba(0, 0, 255, 0.4) 15%, rgba(114,206,247,0.5) 15%, rgba(0, 0, 255, 0.4) 20%, rgba(114,206,247,0.5) 20%, rgba(0, 0, 255, 0.4) 25%, rgba(114,206,247,0.5) 25%, rgba(0, 0, 255, 0.4) 30%, rgba(114,206,247,0.5) 30%, rgba(0, 0, 255, 0.4) 35%, rgba(114,206,247,0.5) 35%, rgba(0, 0, 255, 0.4) 5%, rgba(114,206,247,0.5) 40%, rgba(0, 0, 255, 0.4) 40%, rgba(114,206,247,0.5) 45%, rgba(0, 0, 255, 0.4) 45%, rgba(114,206,247,0.5) 50%, rgba(0, 0, 255, 0.4) 50%, rgba(114,206,247,0.5) 55%, rgba(0, 0, 255, 0.4) 55%, rgba(114,206,247,0.5) 60%, rgba(0, 0, 255, 0.4) 60%, rgba(114,206,247,0.5) 65%, rgba(0, 0, 255, 0.4) 65%, rgba(114,206,247,0.5) 70%, rgba(0, 0, 255, 0.4) 70%, rgba(114,206,247,0.5) 75%, rgba(0, 0, 255, 0.4) 75%, rgba(114,206,247,0.5) 80%, rgba(0, 0, 255, 0.4) 80%, rgba(114,206,247,0.5) 85%, rgba(0, 0, 255, 0.4) 85%, rgba(114,206,247,0.5) 90%, rgba(0, 0, 255, 0.4) 90%, rgba(114,206,247,0.5) 95%, rgba(0, 0, 255, 0.4) 95%, rgba(114,206,247,0.5));
    animation: water 20s linear;
    transform: translateY(-15px);
}
*{
    zoom: 82%}
}

.water:after{   height: 1500px;
    transform: translateY(600px);
    display: block;
    content: '';
    background: -webkit-radial-gradient(right, rgba(0, 0, 255, 0.4) 5%, rgba(114,206,247,0.5) 5%,rgba(0, 0, 255, 0.4) 10%, rgba(114,206,247,0.5) 10%, rgba(0, 0, 255, 0.4) 15%, rgba(114,206,247,0.5) 15%, rgba(0, 0, 255, 0.4) 20%, rgba(114,206,247,0.5) 20%, rgba(0, 0, 255, 0.4) 25%, rgba(114,206,247,0.5) 25%, rgba(0, 0, 255, 0.4) 30%, rgba(114,206,247,0.5) 30%, rgba(0, 0, 255, 0.4) 35%, rgba(114,206,247,0.5) 35%, rgba(0, 0, 255, 0.4) 5%, rgba(114,206,247,0.5) 40%, rgba(0, 0, 255, 0.4) 40%, rgba(114,206,247,0.5) 45%, rgba(0, 0, 255, 0.4) 45%, rgba(114,206,247,0.5) 50%, rgba(0, 0, 255, 0.4) 50%, rgba(114,206,247,0.5) 55%, rgba(0, 0, 255, 0.4) 55%, rgba(114,206,247,0.5) 60%, rgba(0, 0, 255, 0.4) 60%, rgba(114,206,247,0.5) 65%, rgba(0, 0, 255, 0.4) 65%, rgba(114,206,247,0.5) 70%, rgba(0, 0, 255, 0.4) 70%, rgba(114,206,247,0.5) 75%, rgba(0, 0, 255, 0.4) 75%, rgba(114,206,247,0.5) 80%, rgba(0, 0, 255, 0.4) 80%, rgba(114,206,247,0.5) 85%, rgba(0, 0, 255, 0.4) 85%, rgba(114,206,247,0.5) 90%, rgba(0, 0, 255, 0.4) 90%, rgba(114,206,247,0.5) 95%, rgba(0, 0, 255, 0.4) 95%, rgba(114,206,247,0.5));
}

@keyframes water {
    0%{transform: translatex(-50%) translateY(-15px) scaleX(2);}
    100%{transform: translatex(-50%) translateY(-15px) scaleX(1);}
